<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Credentials
      </p>
      <a class="card-header-icon" href="#credentials" aria-label="toggle" @click="hidden = !hidden">
        <span class="icon">
          <i class="fas fa-angle-down"></i>
        </span>
      </a>
    </header>

    <div id="credentials" :class="['card-content', { 'is-hidden': hidden }]">
      <form @submit.prevent="handleSubmit">
        <Field 
          label="Password"
          name="oldPswd"
          type="password"
          placeholder="**********"
          :value="oldPswd"
          @input="oldPswd = $event.target.value"
          :error="oldPswdFail" />
          
        <Field 
          label="New Password"
          name="newPswd"
          type="password"
          placeholder="**********"
          :value="newPswd"
          @input="newPswd = $event.target.value"
          :error="newPswdFail" />

        <Field 
          label="Repeat Password"
          name="repeatPswd"
          type="password"
          placeholder="**********"
          :value="repeatPswd"
          @input="repeatPswd = $event.target.value"
          :error="repeatPswdFail" />

        <Row>
          <Column :size="6">
            <Button color="success" type="submit" filled>
              <strong>Save</strong>
            </Button>
          </Column>
          
          <Column :size="6">
            <Button color="danger" filled @click="handleClick">
              <strong>Delete</strong>
            </Button>
          </Column>
        </Row>
      </form>
    </div>

    <Notification :message="message" :color="color" @click="message = ''" />
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { Row, Column, Field, Button } from '@/components/ui';
import { mixinShortMessage } from '@/mixins';

export default {
  mixins: [mixinShortMessage(3000)],
  components: {
    Row,
    Column,
    Field,
    Button
  },
  data() {
    return {
      hidden: true,
      oldPswd: '',
      oldPswdFail: '',
      newPswd: '',
      newPswdFail: '',
      repeatPswd: '',
      repeatPswdFail: ''
    };
  },
  methods: {
    ...mapActions([
      'pswdAccount',
      'deleteAccount'
    ]),
    handleSubmit() {
      if (!this.oldPswd || this.oldPswd.length < 6) {
        return this.oldPswdFail = 'Password Error !';
      }

      this.oldPswdFail = '';

      if (!this.newPswd || this.newPswd.length < 6) {
        return this.newPswdFail = 'New Password Error !';
      }

      this.newPswdFail = '';

      if (!this.repeatPswd || this.repeatPswd.length < 6 || this.repeatPswd !== this.newPswd) {
        return this.repeatPswdFail = 'Repeat Password Error !';
      }

      this.repeatPswdFail = '';

      this.pswdAccount({
        oldPswd: this.oldPswd,
        newPswd: this.newPswd
      })
        .then(() => {
          this.colorizeGreen();
          this.setMessage('Success !');
        })
        .catch(({ message }) => {
          this.colorizeRed();
          this.setMessage(message);
        });
    },
    handleClick() {
      this.deleteAccount()
        .then(() => {
          this.$router.push({ name: 'home' });
        })
        .catch(({ message }) => {
          this.colorizeRed();
          this.setMessage(message);
        });
    }
  }
};
</script>
