<template>
  <div>
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <Row>
            <Column :size="6" :offset="3">
              <div class="control has-icons-right">
                <input class="input is-rounded" type="text" placeholder="Filter" v-model="search" />
                <span class="icon is-small is-right">
                  <i class="fas fa-search"></i>
                </span>
              </div>
            </Column>
          </Row>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <Row v-for="(pizzas, i) in getMatrix" :key="i">
          <Column v-for="(pizza, j) in pizzas" :key="j">
            <div v-if="pizza" class="card">
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img src="@/assets/icon.png" :alt="pizza.label" />
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">{{ pizza.label }}</p>
                    <p class="subtitle is-6">{{ pizza.price.toFixed(2) }} €</p>
                  </div>
                </div>
                <div class="content">
                  {{ pizza.items.length }} Items...
                </div>
              </div>

              <footer class="card-footer">
                <router-link :to="'/pizza/' + pizza.id" class="card-footer-item">
                  Details
                </router-link>

                <div v-if="isRoot" class="card-footer-item">
                  <Button color="danger" outlined @click="handleClick(pizza)">
                    Remove
                  </Button>
                </div>
              </footer>
            </div>
          </Column>
        </Row>
      </div>
    </section>

    <Notification :message="message" :color="color" @click="message = ''" />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { Row, Column, Button } from '@/components/ui';
import { mixinShortMessage } from '@/mixins';

export default {
  mixins: [mixinShortMessage(3000)],
  components: {
    Row,
    Column,
    Button
  },
  data() {
    return {
      search: '',
      breakpoint: 4
    };
  },
  computed: {
    ...mapGetters({
      login: 'getLogin',
      allPizzas: 'getPizzas'
    }),
    isRoot() {
      return this.login === 'Pickle';
    },
    getMatrix() {
      const filter = this.search.toLowerCase();

      const filteredValues = this.allPizzas.filter(val => {
        const label = val['label'].toLowerCase();

        return label.includes(filter);
      });

      let outerVal = [];

      // Rows
      for (let i = 0; i < filteredValues.length; i += this.breakpoint) {
        let innerVal = [];

        // Cols
        for (let j = i; j < i + this.breakpoint; j++) {
          innerVal = [
            ...innerVal,
            filteredValues[j]
          ];
        }

        outerVal = [
          ...outerVal,
          innerVal
        ];
      }

      return outerVal;
    }
  },
  methods: {
    ...mapActions([
      'delPizza'
    ]),
    handleClick(pizza) {
      this.delPizza(pizza.id);
      this.colorizeYellow();
      this.setMessage(`${pizza.label} Removed !`);
    }
  }
};
</script>

<style scoped>
div.hero-body {
  padding: 3rem 1.5rem 0;
}
</style>
