<template>
  <section class="section">
    <div class="container">
      <Row>
        <Column :size="6" :offset="3">
          <div class="card">
            <div class="card-content">
              <form @submit.prevent="handleSubmit">
                <Field 
                  label="Login"
                  name="login"
                  placeholder="Pickle"
                  :value="login"
                  @input="login = $event.target.value"
                  :error="loginFail" />

                <Field 
                  label="Password"
                  name="password"
                  type="password"
                  placeholder="**********"
                  :value="password"
                  @input="password = $event.target.value"
                  :error="passwordFail" />

                <Row>
                  <Column :size="6" :offset="3">
                    <Button type="submit" lighten filled>
                      Login
                    </Button>
                  </Column>
                </Row>
              </form>
            </div>
          </div>
        </Column>
      </Row>
    </div>

    <Notification :message="message" :color="color" @click="message = ''" />
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { Row, Column, Field, Button } from '@/components/ui';
import { mixinShortMessage, mixinRedirect } from '@/mixins';

export default {
  mixins: [
    mixinShortMessage(3000),
    mixinRedirect
  ],
  components: {
    Row,
    Column,
    Field,
    Button
  },
  data() {
    return {
      login: '',
      loginFail: '',
      password: '',
      passwordFail: ''
    };
  },
  computed: {
    ...mapGetters({
      token: 'getToken'
    }),
    isConnected() {
      return !!this.token;
    }
  },
  methods: {
    ...mapActions([
      'loginAccount'
    ]),
    handleSubmit() {
      if (!this.login || this.login.length < 4 || this.login.length > 32) {
        return this.loginFail = 'Login Error !';
      }

      this.loginFail = '';

      if (!this.password || this.password.length < 6) {
        return this.passwordFail = 'Password Error !';
      }

      this.passwordFail = '';

      this.loginAccount({ login: this.login, password: this.password })
        .then(() => this.$router.push({ name: 'home' }))
        .catch(({ message }) => {
          this.colorizeRed();
          this.setMessage(message);
        });
    }
  },
  mounted() {
    this.redirect(this.isConnected, 'home');
  }
};
</script>
