<template>
  <nav :class="['navbar', { 'has-shadow': elevated, 'is-spaced': spaced }]" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <router-link to="/" class="navbar-item">
          <img src="@/assets/logo.png" width="112" height="28" alt="PizzApp">
        </router-link>

        <a href="#menu" :class="['navbar-burger', 'burger', { 'is-active': active }]" role="button" aria-label="menu" aria-expanded="false" data-target="menu" @click="active = !active">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="menu" :class="['navbar-menu', { 'is-active': active }]">
        <div v-if="isConnected" class="navbar-start">
          <router-link to="/settings" class="navbar-item">
            <span class="icon">
              <i class="fas fa-user-secret"></i>
            </span>
            <span>Hello {{ firstName }}</span>
          </router-link>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div v-if="isConnected" class="buttons">
              <Button color="warning" @click="handleClick">
                <strong>Logout</strong>
              </Button>
            </div>

            <div v-else class="buttons">
              <router-link to="/register" class="button is-primary">
                <strong>Register</strong>
              </router-link>

              <router-link to="/login" class="button is-light">
                Login
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { Button } from '@/components/ui';

export default {
  components: {
    Button
  },
  props: {
    elevated: {
      type: Boolean,
      default: true
    },
    spaced: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      active: false
    };
  },
  computed: {
    ...mapGetters({
      token: 'getToken',
      firstName: 'getFirstName'
    }),
    isConnected() {
      return !!this.token;
    }
  },
  methods: {
    ...mapActions([
      'logoutAccount'
    ]),
    handleClick() {
      const { name } = this.$router.currentRoute;

      this.logoutAccount().then(() => {
        if (name !== 'home') {
          this.$router.push({ name: 'home' });
        }
      });
    }
  }
};
</script>
