<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Profile
      </p>
      <a class="card-header-icon" href="#profile" aria-label="toggle" @click="hidden = !hidden">
        <span class="icon">
          <i class="fas fa-angle-down"></i>
        </span>
      </a>
    </header>

    <div id="profile" :class="['card-content', { 'is-hidden': hidden }]">
      <form @submit.prevent="handleSubmit">
        <Field 
          label="Email"
          name="email"
          type="email"
          placeholder="rick.sanchez@pm.me"
          :value="email"
          @input="email = $event.target.value"
          :error="emailFail" />

        <Field 
          label="First Name"
          name="firstName"
          placeholder="Rick"
          :value="firstName"
          @input="firstName = $event.target.value"
          :error="firstNameFail" />

        <Field 
          label="Last Name"
          name="lastName"
          placeholder="Sanchez"
          :value="lastName"
          @input="lastName = $event.target.value"
          :error="lastNameFail" />

        <div class="field">
          <label class="label">Gender</label>
          <div class="control">
            <div :class="['select', 'is-fullwidth', { 'is-danger': genderFail }]">
              <select name="gender" v-model="gender">
                <option value="" disabled>Unknown</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
              </select>
            </div>
          </div>
          <p v-if="genderFail" class="help is-danger">{{ genderFail }}</p>
        </div>

        <Field 
          label="Year Old"
          name="yearOld"
          type="number"
          placeholder="70"
          :value="yearOld"
          @input="yearOld = parseInt($event.target.value)"
          :error="yearOldFail" />

        <Row>
          <Column :size="6" :offset="3">
            <Button color="success" type="submit" filled>
              <strong>Save</strong>
            </Button>
          </Column>
        </Row>
      </form>
    </div>

    <Notification :message="message" :color="color" @click="message = ''" />
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { Row, Column, Field, Button } from '@/components/ui';
import { mixinShortMessage } from '@/mixins';

export default {
  mixins: [mixinShortMessage(3000)],
  components: {
    Row,
    Column,
    Field,
    Button
  },
  data() {
    return {
      hidden: true,
      email: '',
      emailFail: '',
      firstName: '',
      firstNameFail: '',
      lastName: '',
      lastNameFail: '',
      gender: '',
      genderFail: '',
      yearOld: 0,
      yearOldFail: ''
    };
  },
  computed: {
    ...mapGetters({
      account: 'getAccount'
    }),
  },
  methods: {
    ...mapActions([
      'updateAccount'
    ]),
    handleSubmit() {
      if (!this.email) {
        return this.emailFail = 'Email Error !';
      }

      this.emailFail = '';

      if (!this.firstName || this.firstName.length < 2 || this.firstName.length > 16) {
        return this.firstNameFail = 'First Name Error !';
      }

      this.firstNameFail = '';

      if (!this.lastName || this.lastName.length < 2 || this.lastName.length > 16) {
        return this.lastNameFail = 'Last Name Error !';
      }

      this.lastNameFail = '';

      if (!this.gender) {
        return this.genderFail = 'Gender Error !';
      }

      this.genderFail = '';

      if (!this.yearOld || this.yearOld < 1 || this.yearOld > 99) {
        return this.yearOldFail = 'Year Old Error !';
      }

      this.yearOldFail = '';

      this.updateAccount({
        email: this.email,
        firstName: this.firstName,
        lastName: this.lastName,
        gender: this.gender,
        yearOld: this.yearOld
      })
        .then(() => {
          this.colorizeGreen();
          this.setMessage('Success !');
        })
        .catch(({ message }) => {
          this.colorizeRed();
          this.setMessage(message);
        });
    }
  },
  mounted() {
    this.email = this.account.email;
    this.firstName = this.account.firstName;
    this.lastName = this.account.lastName;
    this.gender = this.account.gender;
    this.yearOld = this.account.yearOld;
  }
};
</script>
