<template>
  <section class="section">
    <div class="container">
      <Row>
        <Column :size="6" :offset="3">
          <div class="card">
            <div class="card-content">
              <form @submit.prevent="handleSubmit">
                <Field 
                  label="Login"
                  name="login"
                  placeholder="Pickle"
                  :value="login"
                  @input="login = $event.target.value"
                  :error="loginFail" />

                <Field 
                  label="Password"
                  name="password"
                  type="password"
                  placeholder="**********"
                  :value="password"
                  @input="password = $event.target.value"
                  :error="passwordFail" />

                <Field 
                  label="Repeat Password"
                  name="repeatPassword"
                  type="password"
                  placeholder="**********"
                  :value="repeatPassword"
                  @input="repeatPassword = $event.target.value"
                  :error="repeatPasswordFail" />

                <Field 
                  label="Email"
                  name="email"
                  type="email"
                  placeholder="rick.sanchez@pm.me"
                  :value="email"
                  @input="email = $event.target.value"
                  :error="emailFail" />

                <Field 
                  label="First Name"
                  name="firstName"
                  placeholder="Rick"
                  :value="firstName"
                  @input="firstName = $event.target.value"
                  :error="firstNameFail" />

                <Field 
                  label="Last Name"
                  name="lastName"
                  placeholder="Sanchez"
                  :value="lastName"
                  @input="lastName = $event.target.value"
                  :error="lastNameFail" />

                <div class="field">
                  <label class="label">Gender</label>
                  <div class="control">
                    <div :class="['select', 'is-fullwidth', { 'is-danger': genderFail }]">
                      <select name="gender" v-model="gender">
                        <option value="" disabled>Unknown</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                      </select>
                    </div>
                  </div>
                  <p v-if="genderFail" class="help is-danger">{{ genderFail }}</p>
                </div>

                <Field 
                  label="Year Old"
                  name="yearOld"
                  type="number"
                  placeholder="70"
                  :value="yearOld"
                  @input="yearOld = parseInt($event.target.value)"
                  :error="yearOldFail" />

                <Row>
                  <Column :size="6" :offset="3">
                    <Button color="primary" type="submit" filled>
                      <strong>Register</strong>
                    </Button>
                  </Column>
                </Row>
              </form>
            </div>
          </div>
        </Column>
      </Row>
    </div>

    <Notification :message="message" :color="color" @click="message = ''" />
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { Row, Column, Field, Button } from '@/components/ui';
import { mixinShortMessage, mixinRedirect } from '@/mixins';

export default {
  mixins: [
    mixinShortMessage(3000),
    mixinRedirect
  ],
  components: {
    Row,
    Column,
    Field,
    Button
  },
  data() {
    return {
      login: '',
      loginFail: '',
      password: '',
      passwordFail: '',
      repeatPassword: '',
      repeatPasswordFail: '',
      email: '',
      emailFail: '',
      firstName: '',
      firstNameFail: '',
      lastName: '',
      lastNameFail: '',
      gender: '',
      genderFail: '',
      yearOld: 0,
      yearOldFail: ''
    };
  },
  computed: {
    ...mapGetters({
      token: 'getToken'
    }),
    isConnected() {
      return !!this.token;
    }
  },
  methods: {
    ...mapActions([
      'registerAccount'
    ]),
    handleSubmit() {
      if (!this.login || this.login.length < 4 || this.login.length > 32) {
        return this.loginFail = 'Login Error !';
      }

      this.loginFail = '';

      if (!this.password || this.password.length < 6) {
        return this.passwordFail = 'Password Error !';
      }

      this.passwordFail = '';

      if (!this.repeatPassword || this.repeatPassword.length < 6 || this.repeatPassword !== this.password) {
        return this.repeatPasswordFail = 'Repeat Password Error !';
      }

      this.repeatPasswordFail = '';

      if (!this.email) {
        return this.emailFail = 'Email Error !';
      }

      this.emailFail = '';

      if (!this.firstName || this.firstName.length < 2 || this.firstName.length > 16) {
        return this.firstNameFail = 'First Name Error !';
      }

      this.firstNameFail = '';

      if (!this.lastName || this.lastName.length < 2 || this.lastName.length > 16) {
        return this.lastNameFail = 'Last Name Error !';
      }

      this.lastNameFail = '';

      if (!this.gender) {
        return this.genderFail = 'Gender Error !';
      }

      this.genderFail = '';

      if (!this.yearOld || this.yearOld < 1 || this.yearOld > 99) {
        return this.yearOldFail = 'Year Old Error !';
      }

      this.yearOldFail = '';

      this.registerAccount({
        login: this.login,
        password: this.password,
        email: this.email,
        firstName: this.firstName,
        lastName: this.lastName,
        gender: this.gender,
        yearOld: this.yearOld
      })
        .then(() => this.$router.push({ name: 'home' }))
        .catch(({ message }) => {
          this.colorizeRed();
          this.setMessage(message);
        });
    }
  },
  mounted() {
    this.redirect(this.isConnected, 'home');
  }
};
</script>
