<template>
  <div>
    <NavBar />
    <router-view></router-view>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { NavBar } from './views';

export default {
  components: {
    NavBar
  },
  methods: {
    ...mapActions([
      'allPizzas'
    ])
  },
  mounted() {
    console.log('Mounted !');

    this.allPizzas('label');
  }
};
</script>

<style>
.is-clickable {
  cursor: pointer;
}
</style>
