<template>
  <div :class="['column', { [`is-${size}`]: size, [`is-offset-${offset}`]: offset}]">
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    size: Number,
    offset: Number
  }
};
</script>
