<template>
  <div
    v-if="message"
    :class="['notification', {
      'is-danger': color === 'red',
      'is-success': color === 'green',
      'is-info': color === 'blue',
      'is-warning': color === 'yellow'
    }]">
    <button class="delete" @click="$emit('click')"></button>
    <strong>
      {{ message }}
    </strong>
  </div>
</template>

<script>
export default {
  props: {
    message: String,
    color: String
  }
};
</script>

<style scoped>
div.notification {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 5;
}
</style>
